@{
    ViewBag.Title = "Opereation Failed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
    <style type="text/css">
        .error-page > .error-content { margin-left: 0px !important; }
    </style>
}

<section class="content">
    <div class="error-page">
        <h2 class="text-yellow" style="font-size:80px;font-weight:300;">Operation Failed</h2>
        <div class="error-content">
            <h3><i class="fa fa-warning text-yellow"></i> Oops! operation failed.</h3>
            <p>
                An unexpected error has occurred should the error persist please contact us our support team on 01902 714030 or email us at <a style="text-decoration:underline;color:blue" href="mailto:support@datadevelopments.co.uk">support@datadevelopments.co.uk</a>.
            </p>
        </div>
    </div>
</section>

