
<div class="ref-title">My Delivery </div>
<div class="table-responsive">
    <table class="table table-bordered food-table agencies-table" id="grid-volunteer-delivery-list">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Date for delivery</th>
                <th>Delivery Address</th>
                <th>Parcel Type</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

