@model FB.Dto.ForgotCredentialsViewDto
<div id="frm-forgot-cred" class="cmxform">
    <form asp-controller="Account" asp-action="ForgotCredentials" method="post" asp-antiforgery="true">
        <partial name="_ModalHeader" model='new ModalHeader { Heading = Model.CredentialsRequest == CredentialsRequest.UserId.ToString() ? "Recover User ID" : "Recover Password" }' />
        <div id="validation-summary"></div>
        @Html.HiddenFor(model => model.CredentialsRequest)
        <div class="modal-body form-horizontal">
            @if (Model.CredentialsRequest == "UserPassword")
            {
                <div class="col-xs-12">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="col-lg-4 col-sm-4 control-label">User Name</label>
                            <div class="col-lg-8 col-sm-8">
                                <input asp-for="UserName" class="form-control txt-user-name" />
                                <span asp-validation-for="UserName" class="text-red"></span>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="col-xs-12">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="col-lg-4 col-sm-4 control-label">Email</label>
                            <div class="col-lg-8 col-sm-8">
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-red"></span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="clearfix"></div>
        <partial name="_ModalFooter" model='new ModalFooter { SubmitButtonText = "Submit" }' />
    </form>
</div>
