@model FB.Dto.ForgotPasswordDto
@{
    ViewData["Title"] = "Set New Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        Set New Password
    </h1>
</section>

<section class="content">

    <div class="box">
        <div class="box-body form-horizontal">
            <partial name="_Notification" />
            <form asp-controller="Account" asp-action="SetupNewPassword" method="post">
                @Html.AntiForgeryToken()
                <div class="col-xs-12">

                    @Html.HiddenFor(model => model.Guid)
                    @Html.HiddenFor(model => model.UserID)

                    <div class="col-md-12 no-padding">
                        <div class="box-body">
                            <div class="form-group">
                                <label class="col-lg-3 col-sm-3 control-label">New Password</label>
                                <div class="col-lg-6 col-sm-6">
                                    <input  autocomplete="off" type="password" asp-for="NewPassword" class="form-control" />
                                    <span asp-validation-for="NewPassword" class="text-red"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 col-sm-3 control-label">Confirm Password</label>
                                <div class="col-lg-6 col-sm-6">
                                    <input  autocomplete="off" type="password" asp-for="ConfirmPassword" class="form-control" />
                                    <span asp-validation-for="ConfirmPassword" class="text-red"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 col-sm-3 control-label">Password Question</label>
                                <div class="col-lg-9 col-sm-9">
                                    <input asp-for="PasswordQuestion" class="form-control alpha-numeric txt-password-question" readonly="readonly" />
                                    <span asp-validation-for="PasswordQuestion" class="text-red"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 col-sm-3 control-label">Password Answer</label>
                                <div class="col-lg-9 col-sm-9">
                                    <input asp-for="PasswordAnswer" class="form-control alpha-numeric" />
                                    <span asp-validation-for="PasswordAnswer" class="text-red"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-3 col-sm-3">
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <button class="btn btn-success" type="submit">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/custom/account/setnewpassword.js"></script>
}


