@model FB.Dto.VoucherDto

@{
    ViewBag.Title = "View Voucher";
}

<div class="inner-bg">
    <section class="content-header">
        <h1>
            @(Model.VoucherId==0? "View Voucher" : "View Voucher")
        </h1>
    </section>
    <section class="content">
        <div id="frm-create-donor" class="cmxform donor-form ref-frm">
            <form method="post" novalidate="novalidate" id="create-edit-form">
                <div id="validation-summary-create-donor"></div>
                <input type="hidden" asp-for="hdnFamilyId" />
                <div class="frm-main">
                    @if (Model.VoucherId > 0)
                    {
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-5 col-xs-12 control-label" for="Title">Voucher Token</label>
                                    <div class="col-sm-7 col-xs-12">
                                        <input class="form-control " asp-for="VoucherToken" placeholder="Voucher Id" type="text" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-5 col-xs-12 control-label" for="Title">Choose Referrer Name</label>
                                <div class="col-sm-7 col-xs-12">
                                    <select asp-for="ReferrerId" class="form-control ddlreferrer" asp-items="@((List<SelectListItem>)ViewBag.ReferrerList)" disabled></select>
                                    <span asp-validation-for="ReferrerId" class="text-red"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-5 col-xs-12 control-label" for="Forenames">
                                    Choose Family Name <span class="redtext">*</span>
                                </label>
                                <div class="col-sm-7 col-xs-12">
                                    <select asp-for="FamilyId" class="form-control ddlfamily" asp-items="@((List<SelectListItem>)ViewBag.FamilyList)" disabled></select>
                                    <span asp-validation-for="FamilyId" class="text-red"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-5 col-xs-12 control-label" for="Title">Date of Creation</label>
                                <div class="col-sm-7 col-xs-12">
                                    <input class="form-control" asp-for="AddedDate" placeholder="Date of Creation" type="date" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-5 col-xs-12 control-label" for="Title">Date Redeemed</label>
                                <div class="col-sm-7 col-xs-12">
                                    <input class="form-control" asp-for="RedeemedDate" placeholder="Date Redeemed" type="date" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @if (Model.VoucherId > 0)
                        {
                            @*<div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-sm-5 col-xs-12 control-label" for="Title">QR Code</label>
                                    <div class="col-sm-7 col-xs-12">
                                        <a href="#">View to Download</a>
                                    </div>
                                </div>
                            </div>*@
                        }

                    </div>
                </div>

                <div class="frm-footer">
                    <a asp-controller="voucher" asp-action="index" data-dismiss="modal" id="btn-cancel" class="btn btn-default" type="button">
                        <i class="fa fa-arrow-circle-left"></i>
                        Cancel
                    </a>
                </div>
            </form>
        </div>
    </section>
</div>
@section scripts{
    @*<script src="~/Scripts/custom/voucher/create-edit-voucher.js"></script>*@
}
