
@{
    ViewBag.Title = "MyReferrals";
}
@section head{
    <link href="~/Content/datatables/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-switch.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/alertify/css/alertify.css" rel="stylesheet" />
}
<div class="wrapper">
    <div class="container inner-wrap">
        <div class="inner-bg">
            <section class="content-header">
                <h1>
                    My Referrals
                </h1>
            </section>
            <section class="content">
                <div class="cmxform donor-form referrals-form">
                    <div class="">
                        <table id="grid-my-referral" class="table table-bordered table-striped table-condensed food-table">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th width="20%">Referral Date</th>
                                    <th width="30%">Family Name</th>
                                    <th width="20%">Contact Number</th>
                                    <th>Download Voucher </th>
                                    <th>Status</th>
                                    <th>View</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                            <tfoot></tfoot>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/custom/referrer/my-referrals.js"></script>
}