@model FB.Dto.AdminEditFamilyDto
@using System.Web;
@{
    ViewBag.Title = "";

}

@section head{


}
<script>
    var listallerys = '';
</script>
@foreach (var appointement in ViewBag.AllergyList)
{
<script>
        listallerys += "<option value='@appointement.Value'>@appointement.Text</option>";
</script>
}


<section class="content-header">
 
</section>
<section class="content">
    <div id="frm-edit-person-name" class="cmxform">
        <form asp-controller="familyrecord" asp-action="UpdatePersonName" asp-antiforgery="true" method="post" novalidate="novalidate">
            <partial name="_ModalHeader" model='new ModalHeader { Heading = "Family Contact Details" }' />
            <div id="validation-summary-update-person-name"></div>

            <div id="validation-summary-create-donor"></div>
            <input data-val="true" data-val-number="The field PersonID must be a number."
                   data-val-required="'Person ID' must not be empty." id="PersonID" name="PersonID"
                   type="hidden" value="0">
            <div class="frm-main gen-info">
                <div class="row">

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3 col-xs-12 control-label" for="Title">
                                Family
                                Name<span class="redtext">*</span>
                            </label>
                            <div class="col-sm-9 col-xs-12">

                                <input asp-for="FamilyName" class="form-control" placeholder="Family Name" type="text" />
                                <span asp-validation-for="FamilyName" class="text-red"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3 col-xs-12 control-label" for="Initials">Email<span class="redtext">*</span></label>
                            <div class="col-sm-9 col-xs-12">
                                <input asp-for="Email" class="form-control" placeholder="Email" type="text" />
                                <span asp-validation-for="Email" class="text-red"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3 col-xs-12 control-label" for="Initials">
                                Contact
                                Number<span class="redtext">*</span>
                            </label>
                            <div class="col-sm-9 col-xs-12">

                                <input asp-for="Contactno" class="form-control" placeholder=" Contact Number" type="text" maxlength="20" />
                                <span asp-validation-for="Contactno" class="text-red"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3 col-xs-12 control-label"
                                   for="Initials">Delivery Instructions<span class="redtext">*</span></label>
                            <div class="col-sm-9 col-xs-12">

                                <input asp-for="DeliveryNote" class="form-control" placeholder="Delivery Instructions" type="text" />
                                <span asp-validation-for="DeliveryNote" class="text-red"></span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3 col-xs-12 control-label"
                                   for="Initials">When parcel needs to deliver?<span class="redtext">*</span></label>
                            <div class="col-sm-9 col-xs-12">
                                <input class="form-control datepicker  ParcelDeliver" placeholder="DD/MM/YYYY" asp-for="ParcelDeliverDate" type="text">
                                <span asp-validation-for="ParcelDeliverDate" class="text-red"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3 col-xs-12 control-label">
                                Have they have been on any other agency?<span class="redtext">*</span>
                            </label>
                            <div class="col-sm-9 col-xs-12">
                                <select asp-for="OtherAgency" id="OtherAgency" class="form-control">
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3 col-xs-12 control-label"
                                   for="Initials">GDPR Preferences<span class="redtext">*</span></label>
                            <div class="col-sm-9 col-xs-12">

                                <input asp-for="GDPRPreferences" class="form-control" placeholder="GDPR Preferences" type="text" />
                                <span asp-validation-for="GDPRPreferences" class="text-red"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3 col-xs-12 control-label"
                                   for="Initials">Local Authority Code<span class="redtext">*</span></label>
                            <div class="col-sm-9 col-xs-12">

                                <input asp-for="LocalAuthCodeId" class="form-control" placeholder="Local Authority Code" type="text" maxlength="8" />
                                <span asp-validation-for="LocalAuthCodeId" class="text-red"></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="clearfix"></div>
            <partial name="_ModalFooter" model='new ModalFooter { }' />

        </form>
    </div>

    <script src="~/Scripts/plugins/select2/select2.js"></script>
    <script src="~/Scripts/plugins/input-mask/jquery.inputmask.js"></script>
    <script src="~/Scripts/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="~/Scripts/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script>
        function initializeModalWithForm() {
            $(".datepicker").datepicker({ format: "dd/mm/yyyy" }).inputmask("dd/mm/yyyy", { "placeholder": "dd/mm/yyyy" });

        }
        initializeModalWithForm();
    </script>

    <script src="~/Scripts/plugins/bootstrap-tokenfield/dist/bootstrap-tokenfield.js"></script>


</section>
