@*@model FB.Dto.AgenciesFamilyDto
<div class="box-header">
    <div id="agencyformmaster" novalidate>
        <div class="col-lg-6 col-sm-12">
            <div class="form-group">
                <input type="hidden" id="hnd_feedbackfamilyid" value="@Model.Familyid" />

                <label class="col-sm-4 control-label" for="Forenames">Select Agency<span class="redtext">*</span></label>
                <div class="col-sm-8 col-xs-12">
                    <select asp-for="AgencyId" class="form-control food-items" asp-items="@((List<SelectListItem>)ViewBag.Agencieslist)"></select>
                    
                  
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">

            <div class="btn-group">
                <a id="Addagecnyfamily" class="btn btn-primary btnHide ps3">
                    Add Agency for Family
                </a>
            </div>
        </div>
    </div>
</div>

<div class="box-body ">
    <input type="hidden" id="hdnCurrentUserId" data-rolename="@( CurrentUser.RoleID>10 ? string.Empty :  ((UserRoles)CurrentUser.RoleID).GetDescription())" value="@CurrentUser.UserID" />
    <div class="table-responsive">
        <div class="col-lg-12 col-sm-12">
            <table id="grid-person-agency" class="table table-bordered table-striped table-hover tbl_bg_clr row-pointer">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>S.No</th>
                        <th>Agency Name</th>
                        <th>Email Address</th>
                        <th>Phone Number</th>
                        <th width="30%">Action </th>
                    </tr>
                </thead>
            </table>
        </div>

    </div>
</div>*@

   

Hello